<launch>
    <arg name="sim" default="true"/>
    <arg name="x" default="0.025"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="1.570796"/>

    <!-- Simulation world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg sim)">
        <arg name="world_name" value="$(find agv_simulation)/worlds/map_depo.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="extra_gazebo_args" value="--lockstep"/>
    </include>

    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find agv_description)/urdf/agv.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50"/>
        <param name="use_tf_static" value="true"/>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50"/>
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model autorace -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description"
          if="$(arg sim)">
    </node>

    <!-- Robot Localization (EKF) -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_filter_node" output="screen">
        <rosparam command="load" file="$(find adaptative_localization)/config/ekf.yaml"/>
    </node>

    <!-- RViz for monitoring -->
    <node type="rviz" name="rviz" pkg="rviz" required="true"
          args="-d $(find adaptative_localization)/rviz_config/moving_config.rviz"/>
</launch>

