<launch>
    <arg name="sim" default="true"/>
    <arg name="rec" default="false"/>
    <arg name="x" default="0.025"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="1.570796"/>
    <arg name="world_path" default="worlds/empty.world"/>
	<arg name="robot_name" default="/AGV"/>
    <arg name="map_file" default="$(find adaptative_localization)/maps/mymap.yaml"/>

    <!-- Mapping-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map"/>
    </node>

  <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    args="0.0 0 0.0 0 0 0  /odom /map 10" />

 <node pkg="tf" type="static_transform_publisher" name="base_link_to_scan"
    args="0.0 0 0.0 0 0 0  /base_link /scan_link 10" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <remap from="scan" to="laser"/>
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha5" value="0.1"/>
        <param name="gui_publish_rate" value="10.0"/>
        <param name="laser_max_beams" value="30"/>
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="5000"/>
        <param name="kld_err" value="0.05"/>
        <param name="kld_z" value="0.99"/>
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <param name="odom_alpha3" value="0.8"/>
        <param name="odom_alpha4" value="0.2"/>
        <param name="laser_z_hit" value="0.5"/>
        <param name="laser_z_short" value="0.05"/>
        <param name="laser_z_max" value="0.05"/>
        <param name="laser_z_rand" value="0.5"/>
        <param name="laser_sigma_hit" value="0.2"/>
        <param name="laser_lambda_short" value="0.1"/>
        <param name="laser_model_type" value="likelihood_field"/>
        <param name="laser_likelihood_max_dist" value="2.0"/>
        <param name="update_min_d" value="0.2"/>
        <param name="update_min_a" value="0.5"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="resample_interval" value="1"/>
        <param name="transform_tolerance" value="0.1"/>
        <param name="recovery_alpha_slow" value="0.0"/>
        <param name="recovery_alpha_fast" value="0.0"/>
        <param name="initial_pose_x" value="$(arg x)"/>
        <param name="initial_pose_y" value="$(arg y)"/>
        <param name="initial_pose_a" value="$(arg yaw)"/>
    </node>


  <include file="$(find adaptative_localization)/launch/ekf_localization.launch"/>

      <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find adaptative_localization)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find adaptative_localization)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
   <rosparam file="$(find adaptative_localization)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find adaptative_localization)/config/global_costmap_params.yaml" command="load" />
   <rosparam file="$(find adaptative_localization)/config/base_local_planner_params.yaml" command="load" />
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odometry/filtered"/>
    <remap from="scan" to="laser"/>
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>      
    <param name="shutdown_costmaps" value="false"/>
    <param name="oscillation_timeout" value="10.0"/>
    <param name="oscillation_distance" value="0.2"/>
    <param name="conservative_reset_dist" value="0.10"/>      
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="use_dijkstra" value="false"/> 
    <param name="planner_frequency" value="1.0"/>
    <param name="planner_patience" value="5.0"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param name="controller_frequency" value="5.0"/>
    <param name="controller_patience" value="5.0"/>
  </node>

    <!-- Simulation world and node -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" if="$(arg sim)">
        <arg name = "world_name" value =  "$(find agv_simulation)/worlds/map_depo.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="extra_gazebo_args" value="--lockstep"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find agv_description)/urdf/agv.urdf.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50"/>
        <param name="use_tf_static"     value="true"/>
        <param name="publish_frequency" value="50"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="rate" value="50"/>
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model autorace -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description" if="$(arg sim)">
    </node>

      <!-- rviz -->
   <node type="rviz" name="rviz" pkg="rviz" required="true"
          args="-d $(find adaptative_localization)/rviz_config/moving_config.rviz"/>

</launch>
